.header {
     display:flex;
     justify-content: space-between;
}
.logo{
    width:150px;
}

.nav-container>ul{
    display:flex;
}
.nav-container>ul>li{
   padding:10px;
   margin:10px;
   list-style-type: none;
   
}
.search{
    padding:10px;
    margin:10px;
}
.res-card{
    padding:5px;
    width:200px;
    height:300px;
    border:1px solid black;
    background-color:#f0f0f0;
}
.res-card-img{
    width:190px;
   padding:6px;
}